@tailwind base;
@tailwind components;
@tailwind utilities;



/* Screen-adaptive scaling */
html {
  zoom: 1;          /* default for ~1920px screens */
}

@media (max-width: 1600px) { html { zoom: 0.95; } }
@media (max-width: 1440px) { html { zoom: 0.9; } }
@media (max-width: 1366px) { html { zoom: 0.85; } }
@media (max-width: 1280px) { html { zoom: 0.8; } }
@media (max-width: 1024px) { html { zoom: 0.75; } }
@media (max-width: 768px)  { html { zoom: 0.7; } }

@media (min-width: 1921px) { html { zoom: 1.05; } }
@media (min-width: 2560px) { html { zoom: 1.15; } }






@layer utilities {
    .animate-fadeIn {
        animation: fadeIn 0.3s ease-out;
    }

    .custom-scrollbar::-webkit-scrollbar {
        width: 6px;
    }

    .custom-scrollbar::-webkit-scrollbar-track {
        background: transparent;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb {
        background: #004d4040;
        border-radius: 10px;
    }

    .custom-scrollbar::-webkit-scrollbar-thumb:hover {
        background: #004d40;
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



